/* globals.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 375px;
  margin: auto;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}