/* style.css */
.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: '';
    position: absolute;
    inline-size: var(--corner-size);
    block-size: var(--corner-size);
    border-block-start: 1px solid var(--decor-color);
    border-inline-end: 1px solid var(--decor-color);
    inset-block-start: 10px;
    inset-inline-end: 10px;
}

@media (min-width: 768px) {
    .decorated-zone::before {
        inset-block-start: 20px;
        inset-inline-end: 20px;
    }
}

.decorated-zone::after {
    content: '';
    position: absolute;
    inline-size: var(--corner-size);
    block-size: var(--corner-size);
    border-block-end: 1px solid var(--decor-color);
    border-inline-start: 1px solid var(--decor-color);
    inset-block-end: 10px;
    inset-inline-start: 10px;
}

@media (min-width: 768px) {
    .decorated-zone::after {
        inset-block-end: 20px;
        inset-inline-start: 20px;
    }
}

.decorated-zone-rec {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 19px;
    font-size: 18px;
    line-height: 25px;
    color: var(--rec-color);
}

@media (min-width: 768px) {
    .decorated-zone-rec {
        inset-block-start: 20px;
        inset-inline-end: 29px;
    }
}

.decorated-zone-rec::after {
    content: '';
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--rec-color);
    border-radius: 50%;
    display: inline-block;
    margin-inline-start: 10px;
    box-shadow: 0 0 4px 2px var(--rec-color);
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.header {
    padding: 10px;
    min-block-size: 668px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    row-gap: 0;
}

@media (min-width: 768px) {
    .header {
        padding: 20px;
        min-block-size: 1024px;
    }
}

@media (min-width: 1024px) {
    .header {
        min-block-size: 768px;
    }
}

.header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
}

@media (min-width: 768px) {
    .header__theme-menu {
        justify-self: end;
        align-self: start;
        margin-block-start: 0;
    }
}

.header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (min-width: 768px) {
    .header__theme-menu-list {
        flex-direction: column;
    }
}

.header__theme-menu-button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    padding: 1.5px 13px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-border-hover);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
    pointer-events: none;
}

.header__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--title-color);
    justify-self: start;
}

@media (min-width: 768px) {
    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-inline-start: -20px;
    }
}

.header__subtitle {
    align-self: start;
    inline-size: 100%;
    margin-block-start: 10px;
}

@media (min-width: 768px) {
    .header__subtitle {
        inline-size: min(50%, 491px);
        justify-self: end;
        margin-block-start: 0;
    }
}

.title-decor {
    background-color: var(--title-decor-bg);
    color: var(--title-decor-text);
    padding: 10px 10px;
    font-weight: 700;
    display: block;
}

@media (min-width: 768px) {
    .title-decor {
        padding: 10px 20px;
    }
}

.content__subsection-title.title-decor {
    font-weight: 700;
}

.content__sub-subsection-title.title-decor {
    font-weight: 400;
}

.content {
    padding: 40px 10px 50px;
    display: grid;
    gap: 50px;
}

@media (min-width: 768px) {
    .content {
        padding: 60px 20px 60px;
        gap: 80px;
    }
}

.content__section {
    display: grid;
    gap: 20px;
}

.content__section-title {
    font-weight: 700;
    color: var(--section-title-color);
}

.content__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .content__section_focus-why, .content__section_focus-how {
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .content__section_focus-why .content__section-title, .content__section_focus-how .content__section-title {
        grid-column: 1;
    }

    .content__section_focus-why .content__content, .content__section_focus-how .content__content {
        grid-column: 2;
    }
}

@media (min-width: 1024px) {
    .content__section_focus-what .content__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .content__section_focus-how .content__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .content__section_focus-how .content__advice {
        grid-column: span 1;
    }
}

.content__advice {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__subsection-title {
    font-size: 18px;
    line-height: var(--line-height);
    font-weight: 700;
}

.content__sub-subsection-title {
    font-size: 18px;
    line-height: var(--line-height);
    font-weight: 400;
}

.content__paragraph {
    font-size: 18px;
    line-height: var(--line-height);
    font-weight: 400;
}

a {
    text-shadow: var(--link-shadow);
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: 1px solid var(--button-border-focus);
}

.gallery {
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .gallery {
        gap: 20px;
    }
}

.gallery__title {
    font-weight: 700;
}

.gallery__list {
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gallery__item:nth-child(1) { grid-column: 1 / 4; }
    .gallery__item:nth-child(2) { grid-column: 3 / 4; grid-row: 2 / 4; }
    .gallery__item:nth-child(3) { grid-column: 1 / 2; grid-row: 2 / 3; }
    .gallery__item:nth-child(4) { grid-column: 1 / 3; grid-row: 3 / 5; }
    .gallery__item:nth-child(5) { grid-column: 1 / 4; grid-row: 4 / 5; }
}

@media (min-width: 1024px) {
    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .gallery__item:nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .gallery__item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .gallery__item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .gallery__item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__item:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    padding: 10px;
    min-block-size: 668px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    text-shadow: 2px 2px 0 var(--accent-color);
    color: var(--title-color);
}

@media (min-width: 768px) {
    .footer {
        padding: 20px;
        min-block-size: 1024px;
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (min-width: 1024px) {
    .footer {
        min-block-size: 768px;
    }
}